.font {
    font-family: "Poppins", sans-serif;

  }

/* nav start */
.nav-conteinar{
  list-style: none;
  display: flex;
}
.nav-links{
  text-decoration: none;
  color:  rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}
.nav-item{
  margin-left:20px ;
  
}
.navber{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand{
  color: rgb(58, 58, 58);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px
}
.nav-hum{
  display: none;
}
/* nav end */

/* start banner */
.banner-conteinar{
  display: flex;
  max-width: 1154px;
  margin: 0 auto;
  gap: 40px;
  align-items: center;
  margin-top: 80px;
  
}


.banner-img{
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.banner-title{
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  margin: 0px;
}

.banner-description{
  color: rgb(58, 58, 58);
  font-size: 16px;
  font-weight: 600;
}
.banner-button{
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  color: rgb(255, 255, 255);
 
  font-size: 1rem;
  font-weight: 700;
  border: none;
  margin-top: 27px;

 background: rgb(224, 44, 109);
}
.main{
  max-width:1110px;
  margin: 0 auto;
}
/* end banner */
.sponser-conteinar{
  max-width:986.47px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns:repeat(7,1fr) ;
  
}
.hr-1{
  margin-top: 100px;
  
  
}

hr{
  background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}

@media screen and (max-width:570px) {
  .nav-conteinar{
    display: none;
  }
  .nav-conteinar >.nav-item> .nav-links>.card {

    display: block;

  }
  .nav-hum{
    display: block;
  }
  .navber{
    justify-content: space-around;
    justify-items: center;
  }
  .banner-conteinar{

    flex-direction: column;
    justify-items: center;
    text-align: center;
    margin-top: 20px;
   

  }

  .banner-conteinar img{
    width: 100%;
  }
  .sponser-conteinar{
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
  }
  .sponser-conteinar img{
    width: 100%;
  }
}